/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header__container {
  background-color: darkblue;
  color: white;
  text-align: center;
  font-size: 25px;
  padding: 20px 0;
}

.check {
  color: green;
}

.check--title, .title-col1 {
  text-shadow: 0 0 5px black;
}

.title-col1, .cross {
  color: red;
}
